<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="container">
    <div class="heading">
        {{heading}}
    </div>

    <div class="heading2">
        {{heading2}}
    </div>

    <div class="shop">
        <button style="height: 50px; width: 12%; font-size: large;
         background-color: black; color: white; border-radius: 8px;
        ">Shop Now</button>
    </div>

    <div class="image">
        <img src="../assets/images/My project (1).png" height="650px">

    </div>
</div>


</body>
</html>