body{
    padding-top: 2%;


}
.heading{
    font-size: 80px;
    margin-top: -23%;
    padding-left: 3%;
    width: 50%;
    font-weight: bold;
}
.heading2{
    padding-left: 3%;
    font-size: 25px;
    padding-top: 1.4%;

}
.shop{
    padding-left: 3%;
    padding-top: 2%;
    
}
.image{
    margin-left: 10%;  
}
#image-box{
    background-color: #E18F6F;
    width: 40%;
    height: 454px;
    margin-left: 54%;
    transition: transform 350ms ease-in-out;
    margin-top: -26%;
    border-radius: 10px;
  }